.Task{
    width: 100%;
    margin: 10px 0px;
    background-color: white;
    border-top: 2px solid #5a8df5;
    border-radius: 20px 8px 8px 8px;
    padding: 20px 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
